@charset "UTF-8";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#divRain {
  position: fixed;
  /* Чтобы дождик был зафиксирован на экране */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  /* Чтобы дождик не блокировал другие элементы */
  z-index: 0;
  /* Дождик на самом низу */
}

div.drop {
  position: absolute;
  color: darkblue;
  width: 5px;
  height: 150px;
  top: 0px;
  left: 0px;
  animation: drip 4s linear infinite;
}

.leader {
  color: lightblue;
}

@keyframes drip {
  20% {
    top: 50vh;
  }

  100% {
    top: 140vh;
    /* Падает до нижней части экрана */
  }
}

.container {
  z-index: 10;
  /* Убедись, что кнопка будет поверх дождя */
}


nav {
  height: 100vh;
  display: flex;
  align-items: end;
}

nav ul:hover {
  box-shadow: 0 0 30px rgb(138, 43, 226), 0 0 60px rgba(138, 43, 226, 0.7), 0 0 120px rgba(138, 43, 226, 0.5);
}

nav ul {

  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8), 0 5px 10px rgba(138, 43, 226, 0.5);
  margin: 30px;
  backdrop-filter: blur(25px);
  border-radius: 20px;
  display: flex;
  width: 100vh;
  height: 10vh;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
  align-items: center;
  user-select: none;
}


/*
################Pendioneer's code START!######################
*/
/* СТИЛИ НА КНОПКИ НАВИГАЦИИ */
.cyberpunkButton {
  background-color: rgb(23, 21, 48);
  /*rgb(34, 24, 24), rgb(19, 18, 37) */
  border: 1px solid #ff00007a;
  color: #00ffea;
  /*#00ffea*/
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.cyberpunkButton:hover {
  background-color: #640000;
  border: 1px solid #640000;
  color: #00ffea;
  box-shadow: 0 0 10px #ff000044, 0 0 20px #ff000044, 0 0 40px #ff000085;
}

.cyberpunkButton:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunkButton:active {
  transform: scale(0.95);
}

/*
################Pendioneer's code END!######################
*/